@tailwind base;
@tailwind components;
@tailwind utilities;

.remirror-editor {
  overflow: visible !important;
}

.remirror-editor-wrapper {
  padding: 0 !important;
}

.remirror-editor-wrapper > [role="textbox"] {
  line-height: 1.85em !important;
}

.remirror-floating-popover {
  z-index: 1;
}
